<div *ngIf="!isContained; else inv">
  <div>
    <div class="form-control d-inline-block w-30">{{quantity}}</div>
    <div class="d-inline-block">
      <button class="h-50 btn btn-outline-primary" (click)="add()">▲</button>
      <button class="h-50 btn btn-outline-primary" (click)="substract()">▼</button>
    </div>
  </div>
  <button class="btn btn-primary" (click)="send()">ajouter</button>
</div>
<ng-template #inv>
  <p class="btn btn-success disabled">
    Dans le panier
  </p>
</ng-template>