<div class="list-group mt-1" *ngIf="bookList.books && bookList.books.length > 0; else noBooks">
  <div class="list-group-item d-lg-flex align-items-center" *ngFor="let b of bookList.books">
    <div class="container-fluid">
      <div class="row align-items-center">    
        <div class="col col-md-1">
          <img class="img-fluid" src="assets/images/{{b.imgUrl}}" alt="couverture">     
        </div>               
        <div class="col-8 mb-2 mb-md-0 text-center">
          <h5 class="mb-1">{{b.title}}</h5>
          <p class="mb-0 mb-md-1">Editeur : {{b.editor}}</p>
          <p class="mb-0 mb-md-1">Sortie : {{b.editionYear | date}}</p>
          <small>isbn : {{b.isbn}}</small>
        </div>
        <div class="d-flex d-md-block col-md-3">
          <p class="text-primary mb-0 mb-md-3 mx-auto">{{b.price}} EUR(HT)</p>
          <p class="text-success  mb-0 mb-md-3 mx-auto" *ngIf="b.stock >0;else inv">en stock</p>
          <ng-template #inv>
            <p class="text-danger  mb-0 mb-md-3 mx-auto">en rupture</p>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <app-cart-add class="m-auto" *ngIf="b.stock >0" [book]="b"></app-cart-add>
    </div>
  </div>
</div>

<ng-template #noBooks>
  {{message}}
</ng-template> 