<div class="col mt-3">

  <div class="mb-3">
    <h5>Adresse de livraison :</h5>
    <div *ngIf="address;else inv">
      {{address.addressline}}
      {{address.zip}}
      {{address.city}}
      {{address.country}}
      <a href="javascript:void(null);">changer d'adresse</a>
    </div>

    <ng-template #inv>
      <a href="javascript:void(null);">sélectionnez une adresse de livraison</a>
    </ng-template>
  </div>

  <div>
    <h5>Recapitulatif :</h5>
    <table class="table table-hover table-striped" *ngIf="order">
      <thead class="thead-light">
        <tr>
          <th scope="col">Article</th>
          <th scope="col">Quantité</th>
          <th scope="col">unité(EUR)</th>
          <th scope="col">total(EUR)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of order.orderLines">
          <th scope="row">"{{line.book.title}}"</th>
          <td>{{line.quantity}}</td>
          <td>{{line.unitPrice}}</td>
          <td>{{line.totalPrice}}</td>
      </tbody>
    </table>
    <p>
      sous-total(EUR) : {{order.htPrice}}<br>
      TVA(%) : {{order.vat}}<br>
      TOTAL TTC(EUR) : {{order.ttcPrice}}
    </p>
  </div>

  <div>
    <h5>Paiement : </h5>
    <div class="d-flex">
      <button class="btn btn-primary font-italic mr-2" (click)="onClick()" [disabled]="!address">PhoenixPal</button>
      <ngx-paypal disabled="true" [config]="payPalConfig"></ngx-paypal>
    </div>
  </div>

</div>